body {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    background-color: #fcfcfc;
    margin: 0px;
}

code {
    font-family: 'IBM Plex Mono', monospace;
}

main {
    margin: 1em;
}



.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    color: white;
    padding: 1em;
    margin: 0px;
}

.nav-section {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.nav-item {
    margin-left: 0px;
    margin-right: 1em;
}

.nav-item>a {
    color: white;
    text-decoration: none;
}



header {
    border-bottom: 1px solid #000;
    line-height: 1em;
}

header>h2,
header>h1 {
    display: inline-block;
}

header span {
    margin-left: 10px;
    font-size: smaller;
}